<!DOCTYPE html>
<html lang="en">
  <%- include ("header") %>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <%- include ("navbar") %>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">This is a title.</h1>
        <p class="lead">
         I don't have any idea what we're really building yet, so here's some random text. 
        </p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </main>
      <%- include ("footer") %>
    </div>

   
  </body>
</html>
