<!DOCTYPE html>
<html lang="en">
  <%- include ("header") %>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <%- include ("navbar") %>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">EMS</h1>
        <p class="lead">
         Welcome to the employee management system 
        </p>
        <p class="lead">
          <a href="/list" class="btn btn-lg btn-secondary">Employee List</a>
        </p>
      </main>
      <%- include ("footer") %>
    </div>

   
  </body>
</html>
